<a href="https://colab.research.google.com/github/SofiFasce/Challenge/blob/main/Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import auth, drive
auth.authenticate_user()
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
project_id='sofia-fasce'

In [9]:
from google.cloud import bigquery

In [10]:
client= bigquery.Client(project=project_id)

In [11]:
import pandas as pd

In [12]:
df=pd.read_csv('/content/drive/MyDrive/notebooks/loan_data.csv')

In [14]:
df.sample(10)

,customer_id,loan_id,application_date,term,disbursed_date,loanamount,paid_date,is_disbursed
13042,615g650gxh4xy81i5h38zxz0,loan_9185201,02/04/22 23:54,NaN,NaN,5985.2700,NaN,False
8534,61zh85y9289375g2723452yx,loan_2541026,05/12/21 21:38,NaN,NaN,2044.0000,NaN,False
86,61z2yy5xy9y99xg4958hgxyy,loan_4373126,28/11/21 8:12,6.0,28/11/21,1664.1226,06/03/22,True
5774,61i975g46418635zx0g90366,loan_7423564,18/02/22 11:04,NaN,NaN,4598.2700,NaN,False
12493,618333514y7h3690h7y5ix78,loan_0146470,05/11/21 9:13,NaN,NaN,473.7700,NaN,False
4518,6244g3zx9yizii42z199y49x,loan_7021390,07/04/22 0:29,NaN,NaN,1068.0995,NaN,False
4629,61yg8y37gx626i86h9684gxh,loan_2265006,30/01/22 21:50,NaN,NaN,1021.2700,NaN,False
1276,6199x0xzxxi1110iz0h4607z,loan_5364700,14/01/22 18:56,4.0,14/01/22,756.2800,15/03/22,True
9469,60ii774763z9405664227xxg,loan_7326553,06/04/22 16:17,NaN,NaN,2969.6400,NaN,False
4497,615x6x5z85x17i53152ghx60,loan_6802913,12/10/21 22:10,NaN,NaN,7737.2700,NaN,False

In [16]:
import sys
sys.path.append('/content/drive/MyDrive/notebooks')

In [ ]:
CREATE TABLE `example-mdi.myData_1.ST` (
  `ADDRESS_ID` STRING,
  `INDIVIDUAL_ID` STRING,
  `FIRST_NAME` STRING,
  `LAST_NAME` STRING,
  ...
);

In [24]:
query="""create table sofia-fasce.STG.BT_SAMPLE (
  NAME STRING,
  AGE INT64
  )"""

In [25]:

client.query(query).result()