In [1]:
from utils.connectors import big_query_connection_direct

In [2]:
import json
import os

In [3]:
from utils.secrets import BQ_AUTHENTICATION

In [4]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS']='/Users/marianonieto/Desktop/challenge/Challenge/secret.json'

In [5]:
from google.cloud import bigquery

client = bigquery.Client()

In [6]:
query="""select * from sofia-fasce.STG.BT_SAMPLE"""
client.query(query).result()

In [9]:
import pandas as pd

### Limpio csv

In [66]:
df=pd.read_csv('loan_data.csv')

In [67]:
from datetime import date 
import numpy as np

In [68]:
df.replace({np.nan: None}, inplace = True)

In [81]:
from datetime import datetime
datetime.strptime('23/03/22 19:51', '%d/%m/%y %H:%M')

datetime.datetime(2022, 3, 23, 19, 51)

In [55]:
df['disbursed_date_2'] = pd.to_datetime(df['disbursed_date'], errors='coerce')

In [82]:
df['application_date']=pd.to_datetime(df['application_date'], format='%d/%m/%y %H:%M')

In [85]:
df['disbursed_date']=pd.to_datetime(df['disbursed_date'], format='%d/%m/%y')
df['paid_date']=pd.to_datetime(df['paid_date'], format='%d/%m/%y')

In [88]:
df.to_csv('loan_data_ok.csv')

In [1]:
from utils.gcp import GoogleSheetsClient

In [2]:
import pandas as pd

In [3]:
import json

In [4]:
with open('secret.json') as f:
   secret = json.load(f)

In [5]:
cliente_sheet=GoogleSheetsClient(secret)

In [6]:
folder_id='1GO-vprPsG5kdCcj5HpbZB0v-lTFv92Le'

In [7]:
df=pd.read_csv('loan_data_ok.csv')

In [8]:
sheets = cliente_sheet.create_spreadsheet(
    "loan_data",'hoja'
)
sheets_id = sheets["id"]


print(f"Uploading sheet ")
cliente_sheet.upload_dataframe_to_spreadsheet(
    df, sheets_id, tab_name=f"hoja", start_cell="A1"
)

Uploading sheet

{'spreadsheetId': '1BFF-feWGcFhlIe1ZPFmFDdCzbAyR0Z8TIL69y7fiKvU',
 'updates': {'spreadsheetId': '1BFF-feWGcFhlIe1ZPFmFDdCzbAyR0Z8TIL69y7fiKvU',
  'updatedRange': 'hoja!A1:I13168',
  'updatedRows': 13168,
  'updatedColumns': 9,
  'updatedCells': 118512}}

In [9]:
cliente_sheet.grant_permissions('1BFF-feWGcFhlIe1ZPFmFDdCzbAyR0Z8TIL69y7fiKvU', "writer", 'sofia.fsc.challenge@gmail.com')

{'kind': 'drive#permission',
 'id': '15974111209173566003',
 'type': 'user',
 'role': 'writer'}

In [22]:
df2=df[['term',	'disbursed_date']].sample(10)

In [23]:
df2.columns=['NAME','AGE']

In [24]:
df2['NAME']='SOFIA'
df2['AGE']=30

In [25]:
df2.reset_index(inplace=True,drop=True)

In [27]:
df2

    NAME  AGE
0  SOFIA   30
1  SOFIA   30
2  SOFIA   30
3  SOFIA   30
4  SOFIA   30
5  SOFIA   30
6  SOFIA   30
7  SOFIA   30
8  SOFIA   30
9  SOFIA   30

In [ ]:
def dataframe_to_table(self, table, df, schema):
        self.client.insert_rows_from_dataframe(
            table=table, dataframe=df, selected_fields=schema
        )

In [34]:
table=client.get_table('sofia-fasce.STG.BT_SAMPLE')

In [ ]:
client.insert_rows_from_dataframe(table=table, dataframe=df2 )